
@import'fonts.css';
body{
    overflow-x:hidden;
}
.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse
{
    margin: -2px !important;
}
.hellobar {
    background-color: #5c33f6;
    box-shadow: 0 3px 0 #c13832;
    top: 0;
    left: 0;
    right: 0;
    color: #fff;
     text-shadow: 0 1px rgba(0,0,0, .3); 
    font-size: 14px;
    letter-spacing: 1px;
}
.hellobar-wrap {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    text-align: center;
}
.hellobar-arrow {
    position: absolute;
    top: 7px;
    right: 30px;
    background-color: #5c33f6;
}
.hellobar-content {
    overflow: hidden;
    padding: 7px 0;
    transition: 0.1s ease;
}
.navbar
{
    background-color: #ffffff;
    position: sticky;
    height: 65px;
    z-index: 100;
    font-weight: 600;
    top: 0px;
    padding:5px 5px;
        box-shadow: 0 2px 12px rgba(116,125,147,.2);
    -webkit-transition: top .5s ease-out;
    -o-transition: top .5s ease-out;
    transition: top .5s ease-out;
}
.navbar-brand
{
    font-size:25px;
    font-weight:800;
    letter-spacing:0.9px;
    color:#4dc199;
    font-family: graphikweb-medium,segoe ui,Roboto,Oxygen,Ubuntu,Cantarell,open sans,helvetica neue,sans-serif;
    padding: 15px 15px 15px 0!important;
    padding: 15px 15px 15px 0px !important;
    text-shadow: 0 0 4px #f4f4f4;
}
.navbar-brand .gth-logo
{
    max-width:180px;
    width:100%;
    margin-top:-20px;
}
.center-nav 
{
    padding-left:30px;
}
.navbar-nav>li>a{
    font-size:16px;
  color:#1d2b36;
    font-weight:400;
    line-height:28px;
    cursor:pointer;
       font-family:'GraphikWeb-Medium','Segoe UI', sans-serif;

}

.navbar-right > li > a.login
{
  font-size:15px;
    color:#000000;
    background-color:#eeeeee;
    font-weight:600;
    padding:8px 15px;
    margin:5px 2px;
    max-width: 120px;
      cursor:pointer;
    letter-spacing:0.4px;
}
 .quote-card label
            {
                font-size:15px !important;
                  font-family:'GraphikWeb-Medium','Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
                
            }
.navbar-right > li > a.signup
{
    font-size:15px;
   background: linear-gradient(158deg, #16A085 44%, #2ECC71 85%);
    border-color: #16A085;   
    color:#ffffff;
        font-weight:600;
        max-width: 120px;
    padding:8px 15px;
    margin:5px 2px;
      cursor:pointer;
    letter-spacing:0.4px;
}
.txh-dropdown ul li
{
    font-family:'GraphikWeb-Medium','Segoe UI', sans-serif;
}
.product-count {
    position: absolute;
    top: 25%;
    left: 45%;
    height: 30px;
  }
  
  .product-count a {
    text-decoration: none;
    font-weight: 700;
    color: black;
  }
  
  .button-count {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #2196F3;
    color: white;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    border: none;
    outline: none;
  }
  .button-count:active {
    background-color: #1565C0;
  }
  
  .number-product {
    display: inline-block;
    width: 46px;
    height: 28px;
    font-size: 24px;
    border: 1px solid silver;
    text-align: center;
  }
  
  :disabled {
    background-color: silver;
  }
  

.gt-modal-content
{
    max-width:500px !important;
    width:100%;
    margin:0 auto;
}
.gt-modal-header
{
  background: linear-gradient(158deg, #16A085 20%, #2ECC71 85%);
    color:#ffffff;
}
.gt-modal-header h4
{
    text-align:center;
       font-family:'GraphikWeb-Medium','Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}
.mc-places, .popular-fares
{
    padding:80px 0px;
}

.mc-places h3
{
  text-align: center;
    font-size: 28px;
    font-family: 'GraphikWeb-SemiBold', sans-serif;
}
.mc-places-table
{
    border:1px solid #cccccc;
    padding:10px;
}

.mc-places-table td
{
    border:1px solid #cccccc;
    padding: 13px 15px;
  
}
.mc-places-table td a
{
      color:#000000;
      font-family:'GraphikWeb-Regular','Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size:13px;
      text-decoration:none;
}
.mc-places-table td:hover
{
    background-color:#f4f4f4;
    cursor:pointer;
}
.navbar-right > li > a.signup:hover, .navbar-right > li > a.login:hover
{
    background-color:#cccccc;
}
.button {
    background: linear-gradient(
        158deg
        , #6c4aee 20%, #5c33f5 85%);
            border-color: #5c33f5;
     font-family:'GraphikWeb-Medium','Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none;
    width:100%;
    color:#ffffff;
    padding: 13px 30px;
    font-size:16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 8px 2px;
    cursor: pointer;
}

.button:hover
{
 background: linear-gradient(158deg, #16A085 55%, #2ECC71 95%);   
}
.nv-btn
{
    padding: 5px 20px;
    margin-top: -10px;
    color: #ffffff;
    background-color: #5c33f5;
    border: 2px solid #5c33f5;
    border-radius: 3px;
}
.nv-btn img 
{
max-width:20px;
width:100%;
margin-right:5px;
}
.gth-via 
{
    width: 100%;
    border: none;
    background-color: #5c33f6;
    font-family: 'GraphikWeb-Medium','Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    padding: 13px 20px;
    margin: 8px 2px;
    color: #ffffff;
}
.small-button
{
    background: linear-gradient(158deg, #5c33f6 44%, #6941f8 85%);
    border-color: #5c33f6;
   font-family:'GraphikWeb-Medium','Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none;
    width:100%;
    max-width:200px;
    color:#ffffff;
    padding: 13px 32px;
    font-weight:bold;
    margin-left: 15px;
    font-size:16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
.xs-button
{
    background: #f4f4f4;
    border:1px solid #16A085;
    border-color: #16A085;
    font-family:'GraphikWeb-Medium','Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none;
    width:100%;
    font-weight:500 !important;
    max-width:200px;
    color:#000000;
     height: 30px;
    padding: 5px 10px;
    font-weight:bold;
    font-size:13px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;  
}
.textarea {
    width: 100%;
    padding: 12px 20px;
    min-height: 45px;
    min-height: 100px;
    color: #000000;
    box-sizing: border-box;
    border: 1px solid #e5e5e5;
    margin: 8px 0;
    background-color: #ffffff;
    border-radius: 0px;
   font-family:'GraphikWeb-Regular','Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.buttonexplore {
background: linear-gradient(158deg, #16A085 44%, #2ECC71 85%);
    border: none;
    border-radius: 3px;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 0.8px;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;
     font-family:'GraphikWeb-Medium','Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.formed-group
{
    display:flex;
}
.navbar-nav>li>a:hover{ 
        color: #1d2b36;
   background-color:transparent;
}
.banner
{
    background-image: url(../images/gatwick-home-banner.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    min-height:700px; 
    background-color:#e2e3e9;
}
.banner video {
    position: absolute;
    left: 0px;
    z-index:0;
    top: 99px;
    width: 100%;
    height: 700px;
    object-fit: cover;
}
.overlay {
    position: absolute;
    left: 0px;
    top: 0;
    width: 100%;
    height: 700px;
    z-index: 1;
    background: rgba(3, 3, 3, 0.493);
    opacity: 0.5;
}
.banner-ct
{
    z-index:10;
}


.cr-mask
{
    opacity: 1;
     background-color:#5c33f6;
       margin-top:-30px;
}
.mc-features {
    padding: 10px 30px;
    max-width: 1140px !important;
    width: 100%;
    margin: 0 auto;
    position: relative;
    bottom: -60px;
    background-color: #ffffff;
    border:1px solid #eeeeee;
    box-shadow: 0 5px 30px 0 rgba(147,161,176,.25);
}
.mc-br-rght
{
        border-right: 1px solid #eee;
}
.mc-ft-pad h3
{
    font-size:20px;
    padding-left:60px;
        margin-top: 12px;
    text-align:left;
    font-family:'GraphikWeb-Medium','Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.mc-ft-icon {
    margin: 0px 0px 0px;
    width: 45px;
  position: absolute;
    height: 45px;
}
.mc-faq-bar {
    max-width:700px;
    width:100%;
    margin: 10px auto;
    padding: 10px 15px;
    border: 1px solid #f4f4f4;
    border-radius: 6px;
    font-family:'GraphikWeb-Regular','Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .06);
}
.mc-faq-bar h3
{
    text-align:center;
      font-family:'GraphikWeb-SemiBold','Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.mc-faq h4 {
  text-align:left;
     font-family:'GraphikWeb-SemiBold','Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.mc-comp-table {
    border: 1px solid #f4f4f4;
     font-family:'GraphikWeb-Regular','Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.mc-comp-table td {
    padding: 10px;
    border: 1px solid #f4f4f4;
    color: #656565;
    font-size: 12px;
    letter-spacing: 0.3px;
    font-weight: 400;
    font-family: 'GraphikWeb-Regular', sans-serif;
}

.mc-comp-table .gt-head {
    background-color: #CDDC39;
    font-weight: 600;
    color: #000000;
}
.ad-links
{
    list-style-type:none;
    padding:0;
    margin:0;
}
.ad-links a
{
    padding:0px 5px;
    color:#000000;
    text-decoration:none;
}
.mc-faq h3
{
    text-align:center;
    font-family:'GraphikWeb-SemiBold','Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    font-size:25px;
}
.mc-faq-bar b
{
     font-family:'GraphikWeb-Medium','Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}
.mc-br-rght p
{
font-size:13px;
max-width:250px;
margin:0 auto;
color:#405261;
text-align:center;
}

.navbar-brand:hover
{
    color:#27BD78;
}
.top{
    margin-top:10px;
}
.margintop
{
padding-top:130px;
}
.font
{
   font-family:'GraphikWeb-regular','Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align:center;
    font-size:20px;
    font-weight:400;
    padding:10px;
    letter-spacing:0.6px;
    color:#000;
    text-shadow: 3px 0 4px #ffffff;
}
.text
{
      font-family:'GraphikWeb-regular','Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align:center;
    font-size:18px;
    font-weight:400;
    padding:10px;
    letter-spacing:0.6px;
    color:#000;
}
.flashcard
{
    margin-top:30px;
}

.card:hover {
box-shadow: 0 1px 1px 0 rgba(90,122,190,.1), 0 10px 20px 0 rgba(90,122,190,.2);
    border: 1px solid rgba(90,122,190,.08);
}
.green
{
    background-color:#f8f8f8;
}
.green:hover{
    cursor: pointer;
    margin-top:10px;
}
.pad
{
    margin-top:20px;
}
.card {
   box-shadow: 0 1px 1px 0 rgba(90,122,190,.1), 0 10px 20px 0 rgba(90,122,190,.2);
    border: 1px solid rgba(90,122,190,.08);
    transition: 0.3s;
    padding:30px;
        margin-left: 0px;
    margin-top:40px;
        margin-bottom: 20px;
    width: 100%;
}

.quote-card
{
      font-family:'GraphikWeb-regular','Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     box-shadow: 0 1px 1px 0 rgba(90,122,190,.1), 0 10px 20px 0 rgba(90,122,190,.2);
    border: 1px solid rgba(90,122,190,.08);
    transition: 0.3s;
    padding:10px;
    position: relative;
     background-color: #ffffff;
        margin-left: 0px;
    
    width: 100%;  
}
.top-margin
{
    margin-top:30px;
}

.sticky-card
{
    position:sticky;
    top:0px;
    z-index:10;
  background-color: #ffffff;
}
.sticky-bottom
{
      position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: #f4f4f4;
            font-family: 'Rubik', sans-serif;
            color: black;
            text-align: center;
}
.popover-wrapper {
    max-width:120px;
    width:100%;
    position: relative;
    display: inline-block;
}
.popover-wrapper:hover .popover-content {
    z-index: 10;
    opacity: 1;
    visibility: visible;
    transform: translate(0, -20px);
    transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}
.popover-content {
    padding: 9px 14px;
}
.popover-content {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    width: 300px;
    top: 50px;
    left: 0px;
    transform: translate(0, 10px);
    background-color: #ffffff;
    padding: 1.5rem;
    border: 1px solid #e3e3e3;
    box-shadow: 0 5px 30px 0 rgba(147,161,176,.25);
}
.popover-content:before {
    position: absolute;
    z-index: -1;
    content: "";
    top: -10px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: black transparent #3a3a3a transparent;
    transition-duration: 0.3s;
    transition-property: transform;
}
.popover-message {
    text-align: left;
    font-size: 12px !important;
    font-family: 'GraphikWeb-Regular', sans-serif !important;
    font-weight: 400 !important;
}
.popover-content h3
{
    font-size: 16px;
    font-family: 'GraphikWeb-SemiBold', sans-serif;
}

.float-card
{
  position: absolute;
    padding:5px 10px;
    font-size:10px;
    color:#000000;
    cursor:pointer;
    border-radius:20px;
    background-color: #FFF5E5;
        font-family: 'Rubik', sans-serif; 
    font-weight:600;
    border:1px solid #cccccc;
      box-shadow: 0 1px 1px 0 rgba(90,122,190,.1), 0 10px 20px 0 rgba(90,122,190,.2);
    top:0px;
    left:10px;
    
}

.red
{
    background-color:rgba(255, 0, 0, 0.72)
}
.full {
    width: 100%;    
}
.gap {
	height: 30px;
	width: 100%;
	clear: both;
	display: block;
}

.dynamic
{
    font-size: 13px;
    line-height: 26px;
       font-family:'GraphikWeb-Regular','Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px 20px;
    letter-spacing: 0.4px;
    
}
.dynamic b
{
     font-family:'GraphikWeb-Medium','Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
}
.booknow
{
    padding:30px;
}
.heighto
{
    height:100vh;
    overflow-y:scroll;
    overflow-x:hidden;
}
.inspad
{
    background-color:#4dc199;
    color:#ffffff;
    padding:5px;
    margin-top:20px;
    font-size:18px;
    letter-spacing:0.5px;
    font-family: 'Rubik', sans-serif; 

}
.dropdown:hover .xd-dropdown-content {
    opacity: 1;
    transform: scaleY(1);
}
.xd-dropdown-content {
    backface-visibility: hidden;
    background-color: #ffffff !important;
    border-bottom: .0625rem solid #dbd9d2;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    content: "";
    min-width: 250px;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 50px;
    padding: 10px;
    transform: scaleY(0);
    transform-origin: 50% 0;
    transition: all .1s linear .05s;
    width: 100%;
    z-index: 0;
}
.xd-dropdown-content ul
{
    margin:0;
    padding:0;
    list-style-type: none;
}
.xd-dropdown-content ul li
{
    padding:10px;
}
.xd-dropdown-content ul li:hover
{
   background-color:#f4f4f4;
}
.xd-dropdown-content ul li:hover a
{
    color:#000000;
    font-weight:700;
}
.xd-dropdown-content ul li a
{
    font-size:15px;
    color:rgba(44, 47, 66, 0.8);
    font-weight:400;
    text-decoration: none;
    letter-spacing:0.5px;
    cursor:pointer;
   font-family: 'Rubik', sans-serif;
}

a.promo-btn
{
    padding:15px 20px;
    background-color:#000000;
    margin-top:10px;
    color:#ffffff !important;
    cursor:pointer;
    text-decoration:none;
}
a.small-button
{
    text-decoration:none;
    color:#ffffff;
}

.checked {
    color: orange;
}
.taxi
{
    width:100px;
    margin-top:-10px;
}
.infopad
{
    background-color:#ffffff;
    color:#000000;
    padding:10px;
    font-size:17px;
    text-align:center;
    margin-top:50px;
    letter-spacing:0.5px;
    font-family: 'Rubik', sans-serif; 

}
.payments {
	font-size: 1.5em;	
}
.aboutus
{
    margin-top:100px;
}
.map-overlay
{
    background-color:#ffffff;
    padding:10px;
    z-index:10;
    position: absolute;
    top:0;
    right:10px;
}
.map-overlay span
{
    font-size:14px;
     font-family:'GraphikWeb-SemiBold','Segoe UI', 'Helvetica Neue', sans-serif;
    color:#000000;
}
#map {
    width:100%;
    height:100vh;
  }

  .rigid
  {
      margin-top:10px;
  font-size:13px;
  }
.icon-bar
{
    background-color:#000000;
}
    .fleet-name
    {
       font-family:'GraphikWeb-SemiBold','Segoe UI', 'Helvetica Neue', sans-serif;
        text-align:center;
        font-weight:700;
        font-size:20px;  
    }
.header
{
font-family:'GraphikWeb-SemiBold','Segoe UI', 'Helvetica Neue', sans-serif;
    font-size:38px;
    text-align: center;
    color:#ffffff;
    letter-spacing: 2px;
    text-shadow: 0 0 5px rgba(0,0,0,1);
}
.about-croydon h3,.fleets-croydon h3
{
    text-align:center;
    font-size:28px;
    font-family: 'GraphikWeb-SemiBold', sans-serif;
}

.about-croydon p
{
    font-family: 'GraphikWeb-regular', sans-serif;
color: rgba(44, 47, 66, 0.8);
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
    letter-spacing:0.4px;
}

.popular-fares p 
{
    font-family: 'GraphikWeb-regular', sans-serif;
color: rgba(44, 47, 66, 0.8);
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
    letter-spacing:0.4px;
}
.green-background
{
    margin-top:80px;
    padding:50px 0px !important;
    background-color:rgba(166, 247, 219, 0.18);
}
.fleet-desc
{
     font-family: 'GraphikWeb-regular', sans-serif;
    color: #242438;
    text-align: center;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 0;
    letter-spacing: 0.2px;
}
._hj-f5b2a1eb-9b07_pull_left
{
    display:none !important;
}
.nopadding {
   padding:0px 2px;
    margin:0px;
 }
 select { font-family: 'FontAwesome', sans-serif !important }
.book
{
    background-color: #00000080;
    padding:10px;
    margin-top:0px;
}
input[type=text], .select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 2px !important;
    border:none;
    background-color:#ffffff;
    font-size:14px;
    color:#000000;
font-family:'GraphikWeb-regular','Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border:1px solid #dcdcdc;
        -webkit-appearance: none;
    -webkit-border-radius: 0px;
    box-sizing: border-box;
    outline:none;
}
.checkbox label, .radio label
{
    font-family:'GraphikWeb-regular','Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.track-search
{
    max-width:400px;
    width:100%;
    margin: 0 auto;
}

.info
{
    margin-top:100px;
}
.infotab
{
    padding:10px 20px;
}
.headingtab
{
    padding:2px;
    background-color:#1cb37f;
}
.text-secondary
{
    font-size:22px;
    color:#ffffff;
    text-align:center;
    letter-spacing:0.5px;
   font-family:'GraphikWeb-SemiBold','Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.infotab
{
    padding:10px 20px;
}
.head
{
    color:#ffffff;
    font-size:25px;
    text-align:center;
    letter-spacing:1px;
    font-weight:bold;
    font-family: 'Hammersmith One', sans-serif;
}
.container1
{
    margin-left:1.5%;
    margin-right:1.5%;
}
.container2
{
    margin-left:1%;
    margin-right:1%;
}
.a1
{
    font-size:28px;
    font-family: 'Hammersmith One', sans-serif;
    letter-spacing: 1px;
    font-weight:bold;
    padding:10px;
}
.lowfoot
{
    background-color:#132d38;
    color:#ffffff;
    padding:0px 10px;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
td, th {
    text-align: left;
    padding:5px;
}

.gt-small-container
{max-width:900px;
width:100%;
 margin: 0 auto;

}

.about-croydon
{
    padding:150px 0px;
 font-family: 'GraphikWeb-regular', sans-serif;
}

.aboutus
{
    font-family: 'GraphikWeb-regular', sans-serif;
    line-height:28px;
}

.primary-footer
{
    margin-top: 50px;
    padding:50px 0px;
   font-family: 'GraphikWeb-regular', sans-serif;
    background-color: #e4e4e4;
}
.primary-footer h3
{
   font-family: 'GraphikWeb-SemiBold', sans-serif;  
}
.footer-bottom
{
    padding:20px;
    color:#ffffff;
    font-size:15px;
       font-family: 'GraphikWeb-Medium', sans-serif;
    background-color:#000000;
}
.footer-list
{
    list-style-type: none;
       margin: 0; /* To remove default bottom margin */ 
    padding: 0;
}
.gt-luggages
{
    
}
.gt-passengers
{
    
}
.center-txt
{
    color: #ffffff;
    font-size: 21px;
    text-align: center;
    line-height: 1.5;
    max-width:700px;
    width:100%;
    margin:0 auto 30px;
    text-shadow: 0 0 2px rgb(168, 168, 168);
    font-family:'GraphikWeb-regular','Segoe UI', 'Helvetica Neue', sans-serif; 
    
}

.footer-list li
{
   margin:0 !important;
    font-family:'GraphikWeb-regular', 'Segoe UI', sans-serif ;
    left:0;
    padding:3px 0px;
}
.footer-list li a
{
    color:#000000;
    font-size:13px;
    cursor: pointer;
    text-decoration: none;
}
.footer-list li a:hover
{
    color:#4dc199;
}

   .para
    {
        padding:15px;
        font-family:'GraphikWeb-regular', 'Segoe UI', sans-serif ;
        font-size:16px !important;
    }


.gt-google-reviews, .testimonials
{
    padding:50px 0px;
}

.testimonials h3
{
   font-family:'GraphikWeb-SemiBold', 'Segoe UI', sans-serif ;
    font-weight:800;
    font-size:35px;
    text-align: center;
}

.img-bar
{
    max-width:80px;
    width:100%;
    margin:0 auto 20px auto;
}
.img-med-bar
{
    max-width:140px;
    width:100%;
    margin:0 auto;
}

.gt-star-rate
{
   max-width:100px;
    width:100%;
    margin:0 auto;   
}
.checked {
  color: orange;
}


.social
{
    padding:10px;
    font-size: 50px;
      width: 35px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}
.social:hover
{
    text-decoration: none;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}





/*****quote-page****/
.discount-panel
{
  font-size:15px;
  font-family:'GraphikWeb-regular', 'Segoe UI', sans-serif ;
        text-align:center;
        font-weight:400;  
    color:#777777;   
}
.passenger-capacity
{
  font-size:15px;
    font-family:'GraphikWeb-regular', 'Segoe UI', sans-serif ;
        text-align:center;
        font-weight:400;  
    color:#777777;
}
.fare
{
    font-size:20px;
   font-family:'GraphikWeb-SemiBold', 'Segoe UI', sans-serif ;
        text-align:center;
        font-weight:800;
}

.track-panel
{
    padding:100px 0px;
}


.progressbar {
      margin: 50px 0 50px 0;
      counter-reset: step;
  }
  .progressbar li {
      list-style-type: none;
      width: 25%;
      float: left;
      font-size: 14px;
      font-weight:600;
      position: relative;
      text-align: center;
  font-family:'GraphikWeb-Medium', 'Segoe UI', sans-serif ;
      text-transform: uppercase;
      color: #7d7d7d;
  }
  .progressbar li:before {
      width: 15px;
      height: 15px;
      content: '';
      line-height: 30px;
      border: 2px solid #7d7d7d;
      background-color: #7d7d7d;
      display: block;
      font-weight:600;
    font-family:'GraphikWeb-Medium', 'Segoe UI', sans-serif ;
      text-align: center;
      margin: 0 auto 10px auto;
      border-radius: 50%;
      transition: all .8s;
  }
  .progressbar li:after {
      width: 100%;
      height: 2px;
      content: '';
      position: absolute;
      background-color: #7d7d7d;
      top: 7px;
 font-family:'GraphikWeb-regular', 'Segoe UI', sans-serif ;
      left: -50%;
      z-index: -1;
      transition: all .8s;
  }
  .progressbar li:first-child:after {
      content: none;
  }
  .progressbar li.active:before {
      border-color: #55b776;
      background-color: #55b776;
      transition: all .8s;
  }
  .progressbar li.active:after {
      background-color: #55b776;
      transition: all .8s;
  }
.fixed-fares
{
    padding:100px 0px;
}
.fixed-fares h3
{
    text-align: center;
    padding:20px 0px;
   font-family:'GraphikWeb-SemiBold', 'Segoe UI', sans-serif ;
    color:#000000;
    font-size:25px;
    
}
.fixed-fares table thead
{
   font-family:'GraphikWeb-Medium', 'Segoe UI', sans-serif ;
    font-size:16px;
    letter-spacing: 0.3px;
    background-color:#58c59e;
    color:#ffffff;
}

@media screen and (min-width:1400px) {
    .gt-container
    {
        max-width:1280px;
        margin:0 auto;
    }
}
@media screen and (min-width:1020px) and (max-width:1100px) {
    .gt-container
{
    max-width:1000px;
    margin:0 auto;
}
}



@media only screen and (max-width: 480px) {
    .banner
    {
        background-image:none;
    }
    .header
    {
    font-family:'GraphikWeb-SemiBold','Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-weight: 800;
    font-size: 24px;
    letter-spacing: 0.2px;
    color: #000000;
    line-height: 36px;
    text-shadow: none;
    }
    .gt-container {
    max-width: 400px;
    margin: 0 auto;
}
    .card
    {
            padding: 30px;
    }
    .quote-card
    {
        
    }
    .para
    {
        padding:15px;
        font-size:13px !important;
    }
    .book {
    background-color:transparent;
   
}
    .cr-mask .card
    {
        box-shadow:none;
        border: none;
      
    }

    .about-croydon
    {
        padding:30px 0px;
    }
    .a1
    {
        font-size:20px;
    }
    .navbar-brand
    {
        font-size:22px;
    }

    .margintop
{
padding-top:80px;
}
.footer-bottom p.pull-left {
    font-size:13px;
 
}
.inspad
{
    background-color:#6897bb;
    color:#ffffff;
    padding:6px;
    font-size:12px;
    letter-spacing:0.5px;
  font-family:'GraphikWeb-Regular','Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.taxi
{
    width:60px;
    margin-top:-10px;
}
.infopad
{
    background-color:#ffffff;
    color:#000000;
    padding:10px;
    font-size:13px;
    text-align:center;
    letter-spacing:0.5px;
    font-family:'GraphikWeb-Regular','Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.rigid
{
    margin-top:10px;
font-size:10px;
}
.dynamic
{
    font-size:13px;
     font-family:'GraphikWeb-Regular','Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding:10px 20px;
    letter-spacing:0.4px;
    
}
.font
{
   font-family:'GraphikWeb-Bold','Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align:center;
    font-size:13px;
    padding:10px;
    letter-spacing:0.6px;
    color:#000;
    text-shadow: 3px 3px 3px #000000;   
}

    .testimonials h3 {
    font-size: 30px;
    line-height: 38px;
}
     select { font-family: 'FontAwesome', sans-serif  !important}
     
     .about-croydon h3, .fleets-croydon h3, .mc-places h3, .page-faq h3 {
    text-align: center;
    font-size: 20px !important;
    line-height: 30px !important;
     }
     .page-faq h4 {
    font-size: 14px !important;
    line-height: 20px !important;
     }
     .page-faq p {
    font-size: 12px !important;
    line-height: 18px !important;
     }
     .testimonials h3 {
    font-size: 25px !important;
    line-height: 38px !important;
}
.navbar-nav>li>a {
    font-size: 14px !important;
}
.nav>li>a
{
    padding:10px !important;
}
.center-nav
{
    padding-left:0px;
}
.navbar-right
{
  display:none !important;  
}
.navbar-collapse
{
    display:none !important;
}
}

.datepicker-popup, .pl-popup
{
    display:none;
    background-color:#ffffff;
    padding:15px;
    z-index:10;
    position:absolute;
    top:55px;
    border:1px solid #cccccc;
    box-shadow: 0 3px 5px -4px rgba(0,0,0,0.17);
}
.gt-dp:focus .datepicker-popup
{
 display:block;
}

.gth-pl:focus .pl-popup
{
    display:block; 
}
.pl-popup
{
    width:280px;
}
.pl-popup ul
{
list-style-type: none;
padding:0;
margin:0;
}
.pl-popup ul li 
{
padding:10px;
display:flex;
}
.pl-popup ul li p 
{
    padding: 5px 20px 0 0;
    font-weight: 600;
    font-size: 16px;
    font-family: 'GraphikWeb-SemiBold', sans-serif;

}
.gth-select
{
    position: absolute;
    right:20px;
padding:5px 10px;
margin:0px 10px;
height:30px;
border:1px solid #f4f4f4;
box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
}
.ui-widget.ui-widget-content
{
    border:none !important;
}
.ui-widget-header
{
    box-shadow: 0 0px 20px rgba(116, 113, 113, 0.1);
    border:none;
    background-color:#ffffff !important;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active
{
    border: 1px solid #e2e2e2 !important;
}
.datepicker-popup p
{ font-family:'GraphikWeb-SemiBold','Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:700;
    margin-top:10px;
    margin-bottom:0px;
}
.d-flex
{
    display:flex;
}
.d-flex select
{
    height: 30px;
    padding: 5px 20px;   
    background-color: #f4f4f4;
}
.ui-datepicker .ui-datepicker-header
{
    padding:0 !important;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active
{
    text-align:center;
}
.gt-set-date
{
      font-family:'GraphikWeb-SemiBold','Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top:10px;
    padding:10px 20px;
    border:none;
    font-weight:600;
    text-align:center;
    color:#ffffff;
     text-decoration:none;
    cursor:pointer;
    background: linear-gradient(158deg, #16A085 20%, #2ECC71 85%);
}
.gt-set-date:hover
{
    color:#ffffff;
    text-decoration:none;
}
/*.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next*/
/*{*/
/*    border:none;*/
/*    top:0px;*/
/*    left:0px;*/
/*}*/

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
    border:none !important;
    background-color:none !important;
	font-weight: normal;
	color: #2b2b2b;
}

#offermodal .modal-content
{
    text-align:center;
  margin-top: 200px;
    height: 400px;
    color: #ffffff;
    background-image: url(https://gatwick-airporttaxis.com/images/bgoffer.png),radial-gradient(43.87% 50% at 50% 50%,#69a97d 0,#149e51 100%);
    background-size: cover;
    background-repeat: no-repeat;
}

#offermodal .modal-content h3
{
    margin-top: 120px;
    Font-size:45px;
    font-weight:800;
    color:#ffffff;
       font-family:'GraphikWeb-SemiBold','Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#offermodal .modal-content p
{
    font-size:28px;
    font-weight:600;
    color:#ffffff;
 font-family:'GraphikWeb-Regular','Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#offermodal .modal-content small 
{
    font-soze:16px;
    font-weight:600;
     font-family:'GraphikWeb-Regular','Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#offermodal .modal-content .close
{
    color:#ffffff !important;
    opacity:1 !important;
    font-size:28px;
}

#offermodal .model-content 
{
 box-shadow: 0 5px 15px rgb(154 154 154 / 50%) !important;
    border: none !important;
}

.page-faq
{
    padding:40px 0px;
}
.page-faq table 
{
    padding:10px;
    border:1px solid #cccccc;
}
.page-faq tr 
{
    background-color:#f4f6f7;
    border-bottom:1px solid #cccccc;
}
.page-faq td
{
    padding:10px 20px;
}

.page-faq h3 
{
    text-align:center;
    font-weight:700;
    font-size:38px;
        font-family:'GraphikWeb-SemiBold','Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.page-faq h4 
{
    font-size:20px;
    font-weight:600;
    margin-top:20px;
        line-height:35px;
        font-family:'GraphikWeb-SemiBold','Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.page-faq p
{
    font-size:16px;
    font-weight:500;
    margin-top:5px;
    line-height:26px;
        font-family:'GraphikWeb-Regular','Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
